<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mind Haven</title>
</head>
<body>
    <div>
        <navbar></navbar>
    </div>
    <div>
        <div>
            <p>Mental Health Support That Reaches Everyone</p>
        </div>
        <div>
            <button>Find Support Now!</button>
            <button>Learn more</button>
        </div>
    </div>
    <button href="/stories">Our stories</button> <br>
    <button href="/help">help</button>  <br>
    <button href="/learn">learn</button>  <br>
    <button href="/get_started">get started</button>  <br>
    <button href="/how_it_works">how it works</button>  <br>
    <button href="/services">Our services</button>  <br>
    
    
</body>
</html>